[submodule "fei"]
	path = fei
	url = https://github.com/RenzoFOL/fei.git
[submodule "eccomerce"]
	path = eccomerce
	url = https://github.com/RenzoFOL/eccomerce.git
[submodule "poema"]
	path = poema
	url = https://github.com/RenzoFOL/poema.git
